ALLOW_CORS=1
ALLOWED_ORIGINS=http://localhost:3000
API_RATE_LIMIT=40
EMAIL=<GMAIL_EMAIL>
CLIENT_USER=<GMAIL_EMAIL>
CLIENT_ID=<OAUTH2_CREDENTIALS_CLIENT_ID_VALUE_HERE>
CLIENT_SECRET=<OAUTH2_CREDENTIALS_SECRET_VALUE_HERE>
REFRESH_TOKEN=<OAUTH2_CREDENTIALS_REFRESH_TOKEN_VALUE_HERE>
REDIRECT_URI=https://developers.google.com/oauthplayground
VERCEL_TOKEN=<OPTIONAL_VERCEL_PERSONAL_ACCESS_TOKEN>
VERCEL_ORG_ID=<OPTIONAL_VERCEL_APP_ORGANIZATION_ID>
VERCEL_PROJECT_ID=<OPTIONAL_VERCEL_APP_PROJECT_ID>